*{
    

}
:root{
    --background-color: aqua;
    --text-color: white;
    --accent: grey;
    --extra: blue;
}

header{
    background-color: var(--background-color);
    padding: 4;
    margin: 2rem;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.form{
    margin: 5rem;
    padding: 20;
    
}
.input{
    width: 100%;
    height: 50px;
    font-size: 20px;
}
.Sbutton{
    width: 100%;
    height: 50px;
    font-size: 20px;
}